---
import TextBox from "../TextBox.astro";
import { selectRandom } from "./helpers";

/**
 * A collection of LCARS-themed loading messages that can be randomly selected to provide a dynamic and engaging user experience while the system is initializing or processing data, enhancing the overall immersion and thematic consistency of the LCARS design aesthetic.
 */
export const RANDOM_LCARS_LOADING_MESSAGES = [
    "LOADING SYSTEM...",
    "LOADING INTERFACE...",
    "LOADING DATA STREAMS...",
    "LOADING MODULES...",
    "LOADING COMPONENTS...",
    "LOADING ASSETS...",
    "LOADING USER INTERFACE...",
    "INITIALIZING SYSTEMS...",
    "INITIALIZING INTERFACE...",
    "INITIALIZING DATA STREAMS...",
    "INITIALIZING MODULES...",
    "INITIALIZING COMPONENTS...",
    "INITIALIZING ASSETS...",
    "INITIALIZING USER INTERFACE...",
    "ESTABLISHING CONNECTIONS...",
    "ESTABLISHING DATA STREAMS...",
    "ESTABLISHING MODULES...",
    "ESTABLISHING COMPONENTS...",
    "ESTABLISHING ASSETS...",
    "ESTABLISHING USER INTERFACE...",
    "FINALIZING SETUP...",
    "FINALIZING INTERFACE...",
    "FINALIZING DATA STREAMS...",
    "FINALIZING MODULES...",
    "FINALIZING COMPONENTS...",
    "FINALIZING ASSETS...",
    "FINALIZING USER INTERFACE...",
];

const message = selectRandom(RANDOM_LCARS_LOADING_MESSAGES);
---

<div id="loading-screen" class="overlay">
    <TextBox textSize="huge" position="full-centered" u={8} blink
        >{message}</TextBox
    >
</div>
