---
import { SupportsUnitSizing } from "./types";

interface Props extends SupportsUnitSizing {}

const { u } = Astro.props;
---

<div class:list={["lcars-row", u && `lcars-u-${u}`]}>
    <slot />
</div>
